# Lambda Functions and Applying Custom Logic in Pandas

## What is a Lambda Function?
Lambda functions are small anonymous functions defined using the lambda keyword. They can have any number of arguments but only one expression. The expression is evaluated and returned.
```
lambda arguments: expression
```

In [7]:
# A simple lambda function that adds 10 to the input
add_ten = lambda x: x + 10
print(add_ten(5))  # Output: 15

15

## Applying Lambda Functions in Pandas

Lambda functions are particularly useful in Pandas for applying operations on DataFrame columns using the apply method.

### Creating a Sample Dataset using Faker
Let's create a sample dataset using the Faker library.

In [8]:
import pandas as pd
from faker import Faker

# Initialize Faker
fake = Faker()

# Generate fake data
data = {
    'name': [fake.name() for _ in range(10)],
    'age': [fake.random_int(min=18, max=80) for _ in range(10)],
    'email': [fake.email() for _ in range(10)],
    'salary': [fake.random_int(min=30000, max=100000) for _ in range(10)]
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

               name  age                        email  salary
0     Sarah Fuentes   55      perezangela@example.org   40321
1  Terry Strickland   58         sschmidt@example.net   87244
2     Maria Harrell   79         robert69@example.net   81887
3      Susan Howard   49         dwiggins@example.net   35414
4     Regina Monroe   63  calderonvincent@example.org   91158
5        Mark Clark   41        fsandoval@example.com   63297
6      Anthony Park   37        brianna64@example.com   94617
7  Angela Donaldson   72   brittanywright@example.org   88670
8        Megan Rios   59      christine91@example.org   38638
9    David Gonzalez   76      moonvanessa@example.net   96141

## Applying Lambda Functions

### Calculate Tax

In [9]:
# Assume a flat tax rate of 10%
df['tax'] = df['salary'].apply(lambda x: x * 0.10)
print(df[['salary', 'tax']])

   salary     tax
0   40321  4032.1
1   87244  8724.4
2   81887  8188.7
3   35414  3541.4
4   91158  9115.8
5   63297  6329.7
6   94617  9461.7
7   88670  8867.0
8   38638  3863.8
9   96141  9614.1

### Categorize Age Groups

In [10]:
# Categorize age into groups
df['age_group'] = df['age'].apply(lambda x: 'Youth' if x < 30 else ('Adult' if x < 60 else 'Senior'))
print(df[['age', 'age_group']])

   age age_group
0   55     Adult
1   58     Adult
2   79    Senior
3   49     Adult
4   63    Senior
5   41     Adult
6   37     Adult
7   72    Senior
8   59     Adult
9   76    Senior

## Applying Custom Logic

Custom logic can be applied using user-defined functions in combination with lambda functions or directly with the apply method.

### Normalize Email Domains

In [11]:
def normalize_email(email):
    return email.split('@')[1].lower()

df['email_domain'] = df['email'].apply(normalize_email)
print(df[['email', 'email_domain']])

                         email email_domain
0      perezangela@example.org  example.org
1         sschmidt@example.net  example.net
2         robert69@example.net  example.net
3         dwiggins@example.net  example.net
4  calderonvincent@example.org  example.org
5        fsandoval@example.com  example.com
6        brianna64@example.com  example.com
7   brittanywright@example.org  example.org
8      christine91@example.org  example.org
9      moonvanessa@example.net  example.net

### Salary Adjustment Based on Age Group

In [12]:
def adjust_salary(row):
    if row['age_group'] == 'Youth':
        return row['salary'] * 1.05  # 5% increase
    elif row['age_group'] == 'Senior':
        return row['salary'] * 1.10  # 10% increase
    return row['salary']

df['adjusted_salary'] = df.apply(adjust_salary, axis=1)
print(df[['age_group', 'salary', 'adjusted_salary']])

  age_group  salary  adjusted_salary
0     Adult   40321          40321.0
1     Adult   87244          87244.0
2    Senior   81887          90075.7
3     Adult   35414          35414.0
4    Senior   91158         100273.8
5     Adult   63297          63297.0
6     Adult   94617          94617.0
7    Senior   88670          97537.0
8     Adult   38638          38638.0
9    Senior   96141         105755.1